<div class="container">
  <div class="row">
    <div class="col  mt-3">
      <h2>About Me</h2>
      <div class="col text-center">

        <img src="img/ryo.jpg" alt="profile picture" width="200" class="img-thumbnail rounded-circle"/>
        <h1 class="display-4">Adan Ramadhan</h1>
        <p class="lead">Web Developer</p>
        <p class="lead">Ini adalah web contact sederhana yang dibuat menggunakan Node JS dan framework Express JS</p>
        <a href="https://github.com/Adan-Ramadhan" target="_blank" class="btn btn-dark"><i class="bi bi-github"></i> Github</a>
        <a href="https://instagram.com/adaan_ramadhan" target="_blank" class="btn btn-primary"><i class="bi bi-instagram"></i> Instagram</a>
      </div>
    </div>
  </div>
</div>